<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  <h3>Home</h3>
    <p>ini adalah web home</p>
    
    <ul>
      <a href="{{ url_for('login') }}">login</a>
    </ul>

    <p>Belum punya akun? ente bisa sign-up</p>
      
      <form>
        <a href="{{ url_for('signup') }}">signup</a>
      </form>
  </body>
</html>
