<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form signup html</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Sign-up</h1>
  <form>
    nama <input type="text"><br>
      buat alamat email <input type="text"><br>
      password <input type="password"><br>
      <input type="button" name="kirim" value="kirim">
  </form>
      <p>Sudah sign up langsung login nigga</p>
      <a href="{{ url_for('login') }}">login</a>
      
</body>
</html> 
